* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 30px;
}

h1 {
  font-size: 9vw;
}

h2 {
  font-size: 1.75vw;
}
.BGImage {
  background-image: url("https://cdn.sanity.io/images/7p2whiua/production/e4365302f0178e715319d3c5b2e566b387e3ff4e-2048x1536.jpg");
  background-size: cover;
  height: 60vw;
  display: flex;
  flex-direction: row;
}

.MainTitle {
  color: white;
  width: 450px;
  position: absolute;
  width: 50%;
  height: 100%;
  padding-left: 1rem;
}

.Subtitle {
  color: white;
  width: 450px;
  position: absolute;
  width: 40%;
  height: 100%;
  padding: 5%;
  padding-top: 45%;
}



