.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #0f0e17;
  line-height: 1.4;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #0f0e17;
}

body {
  background-color: #fffffe;
  font-size: 25px;
  font-family: "Inter", sans-serif;
}

h4 {
  color: #ff8906;
  font-size: 4vw;
  padding-left: 2vw;
  padding-top: 4vw;
}

.logo {
  font-family: "Zen Dots", sans-serif;
  color: #fffffe;
  padding: 1vw;
  font-size: 3vw; 
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 2vw;
  font-family: "Zen Dots", sans-serif;
}

a:link{
  margin: 1vw;
  padding-right: 3vw;
  color: #fffffe;
  text-decoration: none;
}

a:visited {
  color: #a7a9be;
}

a:hover {
  color: #ff8906;
}

a:active {
 color: #e53170;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 2.75vw;
}
.BGImage {
  background-image: url("https://cdn.sanity.io/images/7p2whiua/production/e4365302f0178e715319d3c5b2e566b387e3ff4e-2048x1536.jpg");
  background-size: cover;
  height: 60vw;
  display: flex;
  flex-direction: row;
}

.MainTitle {
  font-family: "Josefin Sans", sans-serif;
  color: #fffffe;
  position: absolute;
  width: 60%;
  padding-left: 2vw;
}

.Subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: white;
  width: 450px;
  position: absolute;
  width: 40%;
  height: 30%;
  padding: 2vw;
  padding-top: 42%;
}

.ArticleNav {
  font-family:"Josefin Sans", sans-serif; 
  font-size: 1.5vw;
  padding-left: 2vw;
  padding-top: 2vw;
  height: 20vw;
}

.InThis {
  font-size: 3vw;
  Font-weight: 400;
  font-style: italic;
}

.JumpTo {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  padding-left: 1vw;
  text-decoration: underline;
}

.pullquote {
  font-size: 3rem;
  padding: 7vw;
  line-height: 4rem;
  
}

.aquanaut2 {
  padding-top: 3vw
}

.Image1 {
  float: right;
  object-fit: contain;
  margin: 2vw;
}

p {
  line-height: 3rem;
  margin: 2vw;
}

.image2 {
  float: right;
  object-fit: contain;
  margin: 2vw;
}

.image3 {
  float: right;
  object-fit: contain;
  margin: 2vw;
}

footer {
  font-family: "Zen Dots", sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #0f0e17;
}
.contact {
  display: flex;
  flex-direction: column;
}

.sources {
  display: flex;
  flex-direction: column;
}
